Repository ZM-BAD/DAG-chat: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint-frontend, prettier-frontend, typescript-frontend

pylint:
  name: pylint (backend)
  entry: bash -c 'python3 -m pylint --fail-under=8 $(git ls-files "*.py")'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npm run lint -- --fix'
  language: system
  pass_filenames: false

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{ts,tsx,js,jsx,json,css}"'
  language: system
  pass_filenames: false

typescript-frontend:
  name: typescript (frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

Use renovate instead of dependabot
  .github/dependabot.yml
  .github/renovate.json
Due: none

fix(GitHub Action): fix CI files
  .github/renovate.json
  .github/workflows/frontend.yml
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

feat(frontend): Use DAG instead of Tree to establish message relationships.
  .claude/project_introduction.md
  CLAUDE.md
  backend/api/routes/chat.py
  backend/tests/run_all_tests.py
  backend/tests/test_dag_chat.py
  frontend/src/components/ChatContainer.tsx
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/ConversationBranchTabs.tsx
  frontend/src/utils/conversationDag.ts
  frontend/src/utils/conversationTree.ts
  frontend/tsconfig.json
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): implement static display for DAG-based conversations
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CLAUDE.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ChatContainer.tsx
  frontend/src/components/ChatInput.tsx
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/LoadingScreen.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TabsContainer.tsx
  frontend/src/components/WelcomeScreen.tsx
  frontend/src/components/common/ModelLogo.tsx
  frontend/src/hooks/chat/index.ts
  frontend/src/hooks/chat/useChatMessages.ts
  frontend/src/index.tsx
  frontend/src/styles/App.css
  frontend/src/styles/ErrorBoundary.css
  frontend/src/styles/LoadingScreen.css
  frontend/src/styles/index.css
  frontend/src/types.ts
  frontend/src/types/dag.ts
  frontend/src/types/index.ts
  frontend/src/utils/dagBuilder.ts
  frontend/src/utils/dagHelpers.ts
  frontend/src/utils/dagUtils.ts
  frontend/src/utils/dialogueStateManager.ts
  frontend/src/utils/pathBuilder.ts
  frontend/src/utils/tabSwitchHandler.ts
  frontend/src/utils/tabsContainerBuilder.ts
  frontend/vite.config.ts
Due: eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): simplified log in ChatContainer.tsx
  .vscode/launch.json
  backend/requirements-dev.txt
  frontend/src/components/ChatContainer.tsx
Due: eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): input box citation display is ok for branch & merge question
  frontend/src/App.tsx
  frontend/src/components/ChatContainer.tsx
  frontend/src/components/ChatInput.tsx
  frontend/src/components/ChatMessage.tsx
  frontend/src/hooks/chat/index.ts
  frontend/src/hooks/chat/useChatMessages.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/zh.json
  frontend/src/styles/Input.css
  frontend/src/styles/Layout.css
  frontend/src/styles/Responsive.css
Due: eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): fix isThinkingExpanded collapse not work
  frontend/src/components/ChatContainer.tsx
Due: eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): rewrite scroll logic for switch tab, expand/collapse thinking content
  frontend/src/components/ChatContainer.tsx
  frontend/src/components/ChatMessage.tsx
Due: eslint-frontend, prettier-frontend, typescript-frontend

chore(deps): update python dependencies
  backend/requirements.txt
Due: none

feat(introduce): new README.md file
  LICENSE
  README.md
  README_zh.md
  docs/screenshots/branch-hover.png
  docs/screenshots/chat-overview.png
  docs/screenshots/conversation-dag.png
  docs/screenshots/conversation-full.png
  docs/screenshots/dag-branching.png
  docs/screenshots/merge-hover.png
Due: none

feat(backend): provide LLM API example
  .gitignore
  README.md
  README_zh.md
  backend/.env.example
  backend/api/main.py
  backend/config.py
  backend/logging_config.py
Due: pylint

feat(project): add Ollama and MiniMax support 1. support Ollama for local use; 2. support MiniMax LLM; 3. upgrade pylint version
  .pre-commit-config.yaml
  .pylintrc
  README.md
  README_zh.md
  backend/.env.example
  backend/api/main.py
  backend/api/routes/base.py
  backend/api/routes/conversation.py
  backend/api/services/__init__.py
  backend/api/services/base_service.py
  backend/api/services/deepseek_service.py
  backend/api/services/glm_service.py
  backend/api/services/kimi_service.py
  backend/api/services/minimax_service.py
  backend/api/services/model_factory.py
  backend/api/services/ollama_service.py
  backend/api/services/qwen_service.py
  backend/config.py
  backend/database/__init__.py
  backend/database/mongodb_connection.py
  backend/requirements.txt
  backend/run_api.py
  backend/tests/run_all_tests.py
  frontend/public/assets/logo/minimax.svg
  frontend/public/assets/logo/ollama.svg
  frontend/src/components/ChatInput.tsx
  frontend/src/components/WelcomeScreen.tsx
  frontend/src/components/common/ModelLogo.tsx
  frontend/src/hooks/chat/index.ts
  frontend/src/hooks/chat/useModelSelection.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/zh.json
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

feat(GitHub Actions): auto create PR at any time
  .github/renovate.json
Due: none

feat(renovate): update renovate configuration
  .github/renovate.json
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

feat(frontend): fix eslint error
  frontend/src/App.tsx
  frontend/src/components/ChatContainer.tsx
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): update dependencies and optimize model select-box ui
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles/Input.css
  frontend/vite.config.ts
Due: eslint-frontend, prettier-frontend, typescript-frontend

fix(frontend): sync package-lock.json with package.json
  frontend/package-lock.json
Due: prettier-frontend

fix(frontend): regenerate package-lock.json without --legacy-peer-deps
  frontend/package-lock.json
Due: prettier-frontend

feat(CI&pre-commit): update GitHub CI workflow config and pre-commit config
  .github/workflows/backend-test.yml
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
Due: none

feat(backend): fix tests
  backend/tests/run_all_tests.py
Due: pylint

feat(workspace): support interrupting the conversation 1. use placeholder mode, remove tempId 2. use async LLM API interface
  backend/api/routes/chat.py
  backend/api/services/deepseek_service.py
  backend/api/services/glm_service.py
  backend/api/services/kimi_service.py
  backend/api/services/minimax_service.py
  backend/api/services/ollama_service.py
  backend/api/services/qwen_service.py
  backend/models/requests.py
  frontend/package-lock.json
  frontend/src/components/ChatContainer.tsx
  frontend/src/config/api.ts
  frontend/src/hooks/chat/useChatMessages.ts
  frontend/src/types/index.ts
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

feat(infra): add Docker Compose, Makefile, Dev Container, and architecture diagrams
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .dockerignore
  .github/renovate.json
  .pre-commit-config.yaml
  Makefile
  README.md
  README_zh.md
  backend/Dockerfile
  backend/config.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/src/config/api.ts
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

feat(frontend): upgrade node dependency version
  .devcontainer/Dockerfile
  .github/renovate.json
  README.md
  README_zh.md
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

feat(i18n): enhance i18n
  backend/api/routes/chat.py
  backend/api/routes/conversation.py
  backend/models/error_codes.py
  frontend/eslint.config.js
  frontend/package.json
  frontend/scripts/check-i18n-sync.mjs
  frontend/src/components/ChatInput.tsx
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/ConversationBranchTabs.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/LoadingScreen.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TabsContainer.tsx
  frontend/src/components/WelcomeScreen.tsx
  frontend/src/hooks/chat/useChatMessages.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/zh.json
  frontend/src/utils/apiError.ts
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

feat(backend): Use conversational language when generating titles
  backend/api/services/base_service.py
  backend/api/services/deepseek_service.py
  backend/api/services/glm_service.py
  backend/api/services/kimi_service.py
  backend/api/services/minimax_service.py
  backend/api/services/ollama_service.py
  backend/api/services/qwen_service.py
Due: pylint

feat(README): add .webp files and rewrite README
  README.md
  README_zh.md
  docs/media/branch-hover.png
  docs/media/en_1600x864_15fps_q75_1.25x.webp
  docs/media/merge-hover.png
  docs/media/zh_1920x1036_15fps_q75_1.2x.webp
  docs/screenshots/chat-overview.png
  docs/screenshots/conversation-dag.png
  docs/screenshots/conversation-full.png
  docs/screenshots/dag-branching.png
Due: none

feat(logo): New logo!
  frontend/public/apple-touch-icon.png
  frontend/public/assets/dag-logo.svg
  frontend/public/assets/llm-logo/deepseek.svg
  frontend/public/assets/llm-logo/kimi.svg
  frontend/public/assets/llm-logo/minimax.svg
  frontend/public/assets/llm-logo/ollama.svg
  frontend/public/assets/llm-logo/qwen.svg
  frontend/public/assets/llm-logo/zai.svg
  frontend/public/favicon-16.png
  frontend/public/favicon-32.png
  frontend/public/favicon.ico
  frontend/public/logo.png
  frontend/src/components/common/ModelLogo.tsx
Due: eslint-frontend, prettier-frontend, typescript-frontend

feat(logo): Make the logo more eye-catching
  frontend/public/apple-touch-icon.png
  frontend/public/assets/dag-logo.svg
  frontend/public/favicon-16.png
  frontend/public/favicon-32.png
  frontend/public/favicon.ico
  frontend/public/logo.png
Due: none

feat(renovate): update renovate config
  .github/renovate.json
Due: none

docs(agents): refine AGENTS.md for public release
  AGENTS.md
Due: none

fix(docker): fix broken container startup and harden production config
  .devcontainer/docker-compose.dev.yml
  .dockerignore
  backend/Dockerfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

refactor(config): consolidate env files and remove hardcoded user ID
  .env.example
  AGENTS.md
  README.md
  README_zh.md
  backend/api/routes/conversation.py
  backend/config.py
  backend/models/requests.py
  backend/requirements.txt
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/config/api.ts
  frontend/vite.config.ts
  start.sh
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

feat(title): multi-language title generation with language-aware truncation
  backend/api/routes/chat.py
  backend/api/services/base_service.py
  backend/api/services/deepseek_service.py
  backend/api/services/kimi_service.py
  backend/api/services/minimax_service.py
  backend/api/services/qwen_service.py
  backend/requirements.txt
  backend/tests/test_title_generation.py
Due: pylint

fix(docker): remap database ports to avoid local service conflicts
  .devcontainer/devcontainer.json
  AGENTS.md
  docker-compose.yml
Due: none

chore(deps): update frontend dependencies and fix lint errors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatContainer.tsx
  frontend/src/hooks/chat/useDialogueManagement.ts
Due: eslint-frontend, prettier-frontend, typescript-frontend

refactor(docs): adopt spec-driven development with numbered spec files
  .github/workflows/spec-validation.yml
  .markdownlint.json
  .pre-commit-config.yaml
  AGENTS.md
  scripts/validate_specs.sh
  specs/000-template.md
  specs/010-constitution.md
  specs/020-project-overview.md
  specs/030-dev-commands.md
  specs/100-backend-architecture.md
  specs/110-frontend-architecture.md
  specs/120-dag-structure.md
  specs/130-model-service-factory.md
  specs/140-database-schema.md
  specs/200-docker-topology.md
  specs/210-code-quality.md
  specs/220-testing.md
  specs/README.md
Due: none

feat(llm): migrate DeepSeek API to V4 model with thinking parameter control
  .env.example
  backend/api/services/deepseek_service.py
  backend/config.py
Due: pylint

⬆️ chore(kimi): upgrade to kimi-k2.6, remove redundant KIMI_MODEL_THINKING
  .env.example
  backend/api/services/kimi_service.py
  backend/config.py
  frontend/package-lock.json
Due: pylint, prettier-frontend

build(frontend): upgrade TypeScript to 6.0.3
  .github/workflows/frontend.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  README_zh.md
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  specs/230-frontend-typescript-toolchain.md
  specs/README.md
Due: eslint-frontend, prettier-frontend, typescript-frontend

Path conditions:
  pylint: any of: \.py$
  eslint-frontend: any of: ^(frontend/).*\.(ts|tsx|js|jsx)$
  prettier-frontend: any of: ^(frontend/).*\.(ts|tsx|js|jsx|json|css)$
  typescript-frontend: any of: ^(frontend/).*\.(ts|tsx)$
