Repository ZM-BAD/DAG-chat: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint-frontend, prettier-frontend, typescript-frontend

pylint:
  name: pylint (backend)
  entry: bash -c 'python3 -m pylint --fail-under=8 $(git ls-files "*.py")'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npm run lint -- --fix'
  language: system
  pass_filenames: false

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{ts,tsx,js,jsx,json,css}"'
  language: system
  pass_filenames: false

typescript-frontend:
  name: typescript (frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(frontend): remove dead assignments flagged by eslint 10
  frontend/src/components/ChatContainer.tsx
  frontend/src/utils/dagHelpers.ts
Due: eslint-frontend, prettier-frontend, typescript-frontend

fix(start): reliable frontend dep install + clean log newlines
  start.sh
Due: none

fix(pre-commit): make pip-audit hook work (declare + install + venv path)
  .pre-commit-config.yaml
  backend/requirements-dev.txt
Due: none

style: reformat for Prettier 3.9.0
  frontend/src/components/EnhancedMarkdown.tsx
Due: eslint-frontend, prettier-frontend, typescript-frontend

🔧 chore(ci): freeze non-major dependency updates
  .github/renovate.json
Due: none

build(repo): add commitlint + fix 54 ruff lint violations
  .github/workflows/format.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  backend/api/main.py
  backend/api/router.py
  backend/api/routes/base.py
  backend/api/routes/chat.py
  backend/api/routes/conversation.py
  backend/api/services/__init__.py
  backend/api/services/base_service.py
  backend/api/services/deepseek_service.py
  backend/api/services/glm_service.py
  backend/api/services/kimi_service.py
  backend/api/services/minimax_service.py
  backend/api/services/model_factory.py
  backend/api/services/ollama_service.py
  backend/api/services/qwen_service.py
  backend/api/utils.py
  backend/database/mongodb_connection.py
  backend/database/mysql_connection.py
  backend/models/schemas.py
  backend/run_api.py
  backend/tests/run_all_tests.py
  backend/tests/test_dag_chat.py
  backend/tests/test_title_generation.py
  commitlint.config.mjs
  package-lock.json
  package.json
Due: pylint

ci: add test coverage instrumentation + job summary for frontend and backend
  .codecov.yml
  .github/workflows/backend-test.yml
  .github/workflows/frontend.yml
  .gitignore
  .pre-commit-config.yaml
  backend/requirements-dev.txt
  backend/tests/conftest.py
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

test(frontend): add 178 unit tests for DAG utilities + CI pipeline
  .github/workflows/format.yml
  .github/workflows/frontend.yml
  .github/workflows/pylint.yml
  .github/workflows/security.yml
  .github/workflows/spec-validation.yml
  .pre-commit-config.yaml
  backend/api/routes/base.py
  backend/api/services/deepseek_service.py
  backend/api/services/glm_service.py
  backend/api/services/kimi_service.py
  backend/api/services/minimax_service.py
  backend/api/services/ollama_service.py
  backend/api/services/qwen_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/dialogueStateManager.ts
  frontend/tests/conversationDag.test.ts
  frontend/tests/dagBuilder.test.ts
  frontend/tests/dagHelpers.test.ts
  frontend/tests/dialogueStateManager.test.ts
  frontend/tests/incrementallyUpdateDag.test.ts
  frontend/tests/pathBuilder.test.ts
  frontend/tests/tabSwitchHandler.test.ts
  frontend/tests/tabsContainerBuilder.test.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

chore(ci): restructure workflow names for consistent check naming
  .github/workflows/backend-test.yml
  .github/workflows/commitlint.yml
  .github/workflows/format.yml
  .github/workflows/frontend.yml
  .github/workflows/pylint.yml
  .github/workflows/security.yml
  .github/workflows/spec-validation.yml
Due: none

docs: add Spanish README
  README.es-ES.md
Due: none

feat(backend): add OrcaRouter as optional LLM provider
  .env.example
  README.md
  README_zh.md
  backend/api/routes/base.py
  backend/api/services/__init__.py
  backend/api/services/orcarouter_service.py
  backend/config.py
  backend/tests/test_orcarouter_service.py
  frontend/public/assets/llm-logo/orcarouter.png
  frontend/src/components/common/ModelLogo.tsx
  frontend/src/hooks/chat/useChatMessages.ts
  frontend/src/hooks/chat/useModelSelection.ts
  specs/130-model-service-factory.md
Due: pylint, eslint-frontend, prettier-frontend, typescript-frontend

ci: run all pipelines on any branch push
  .github/workflows/backend-test.yml
  .github/workflows/commitlint.yml
  .github/workflows/format.yml
  .github/workflows/frontend.yml
  .github/workflows/pylint.yml
  .github/workflows/security.yml
  .github/workflows/spec-validation.yml
Due: none

fix(backend): use $addToSet for children links
  backend/api/routes/chat.py
  backend/database/mongodb_connection.py
  backend/tests/test_placeholder_links.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  eslint-frontend: any of: ^(frontend/).*\.(ts|tsx|js|jsx)$
  prettier-frontend: any of: ^(frontend/).*\.(ts|tsx|js|jsx|json|css)$
  typescript-frontend: any of: ^(frontend/).*\.(ts|tsx)$
